:root {
  --dark: #131921;
  --white: #ffffff;
  --lightGrey: #F3F3F3;
  --darkGrey:#e0dfdf;
  --orangeSearch: #FEBD69;
  --orangeSearch-darker: #ffaa3a;
  --yellow: #FFD814;
  --cartOrange: #FFA41C;
  --navBar2-blue: #232F3E;
}