.navBar2 {
  max-width: 100%;
  height: 39px;
  font-size: 14px;
}

.navBar2 .hovered {
  padding: 5px 12px 5px 12px;
}

.navBar2 ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: var(--navBar2-blue);
  width: 100%;
  height: 100%;
  color: var(--white);
}

.navBar2 li {
  margin: 0 1px 2px 1px;
}

.navBar2 ul li a {
  color: var(--white);
}

.blackFriday {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  flex-wrap: wrap;
}

.blackFriday a {
  margin-bottom: 3px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
  
}

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.burger-menu p {
  font-weight: 600;
}

.burger-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4px;
  margin-right: 5px;
}

.burger-lines div {
  width: 17px;
  border-bottom: 2px solid var(--white);
  margin-bottom: 4px;
}


