.mainNav {
  width: 100vw;
  height: 56px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white)

}

.mainNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: black;
  width: 100vw;
  height: 60px;
}

.hovered{
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
}

.hovered:hover {
  border: 1px solid var(--white);
}

.logoNavBar {
	background: url("../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -10px -51px;
	width: 96px;
	height: 29px;
}

.navNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navNavigation p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
}

.navNavigation p span {
  font-size: 14px ;
  font-weight: 700;
}

.navigationLogo {
  background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -71px -379px;
  width: 15px;
  height: 17px;
  margin-top: 9px;
  margin-right: 3px;
}

.searchBar {
  width: 1255px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  background-color: white;
  color: rgb(73, 73, 73);
}

.searchMenu {
  height: 100%;
  background-color: var(--lightGrey);
  border-right: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 4px 0 0 4px;
  padding: 0 12px 0 12px;
}

.searchBar input {
  height: 100%;
  border: transparent;
  flex: 1;
}

.searchLogo {
  background: url('../assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png') no-repeat -10px -290px;
  background-color: var(--orangeSearch);
	width: 35px;
	height: 21px;

}


