* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  font-family: "Amazon Ember";
  overflow-x: hidden;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.mainNav p {
  font-size: 12px;
}

.mainNav p span {
  font-size: 14px;
  font-weight: 700;
}
