* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  font-family: "Amazon Ember";
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark);
}

.hovered {
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
}

.hovered:hover {
  border: 1px solid var(--white);
  border-radius: 2px;
}
